* {
    box-sizing: border-box;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel-frame {
    display: flex;
}

.player-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin: 0 16px;
}

.player-inactive {
    opacity: 0.5;
}

tr {
    width: 399px;
}

table {
    border-collapse: collapse;
}

td {
    width: 133px;
    height: 133px;
    /* background-color: rgba(222, 184, 135, 0.6); */
    border: solid 5px black;
}

td:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}

tr:first-child td {
    border-top: 0;
}

tr:last-child td {
    border-bottom: 0;
}

td:first-child {
    border-left: 0;
}

td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    width: 80px;
}

table tr td div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-btn {
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.end-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(127, 255, 212, 0.548);
    z-index: 10;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    min-height: 700px;
    min-width: 399px;
    background-color: rgba(63, 68, 66, 0.295);
    z-index: 11;
}

.play-area {
    margin-top: 78px;
}

.horizontal-line {
    position: absolute;
    width: 350px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: transform 225ms ease-in-out;
}

.horizontal-line-long {
    position: absolute;
    width: 450px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 225ms ease-in-out;
}

.vertical {
    transform: rotate(90deg) scale(0);
}

.diagonal45 {
    transform: rotate(45deg) scale(0);
}

.diagonal135 {
    transform: rotate(135deg) scale(0);
}

.d-none {
    display: none;
}