* {
    box-sizing: border-box;
}

.frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr {
    width: 399px;
}

table {
    border-collapse: collapse;
}

td {
    width: 133px;
    height: 133px;
    /* background-color: rgba(222, 184, 135, 0.6); */
    border: solid 5px black;
}

td:hover {
    cursor: pointer;
    background-color: blanchedalmond;
}

tr:first-child td {
    border-top: 0;
}

tr:last-child td {
    border-bottom: 0;
}

td:first-child {
    border-left: 0;
}

td:last-child {
    border-right: 0;
}

.shape {
    position: absolute;
    width: 80px;
}

table tr td div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-btn {
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.end-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(127, 255, 212, 0.548);
    z-index: 10;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    min-height: 700px;
    min-width: 399px;
    background-color: rgba(63, 68, 66, 0.295);
    z-index: 11;
}

.play-area {
    margin-top: 78px;
}

.d-none {
    display: none;
}